<turbo-frame id="turbo-scoreboard">
  <div class="container">
    <div class="podium">
      <div class="third">3</div>
      <div class="first">1</div>
      <div class="second">2</div>
    </div>
  </div>
</turbo-frame>