<turbo-frame id="turbo-scoreboard">
  <div class="container">
    <div class="podium-container">
      <div class="podium">
        <%= render partial: "avatar", locals: {user: @users.third}  %> <%# third %>
        <%= render partial: "avatar", locals: {user: @users.second}  %> <%# second %>
        <%= render partial: "avatar", locals: {user: @users.first}  %> <%# first %>
        <div class="third">3</div>
        <div class="first">1</div>
        <div class="second">2</div>
      </div>
    </div>
  </div>
</turbo-frame>