<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Points</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.points %></td>
        <td><%= button_to "…", user, method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>