<%# Style button based on status %>
<button class="task-button <%= task.done? ? "done" : "not-done" %>" type="submit" name="task" value="<%= task.id %>">
  <%# Hide avatar if task not done %>
  <div class="avatar"> 
    <% if task.done? %>
      <%= render "users/avatar", task: task %>
    <% end %>
  </div>
  <%= task.name %>
</button>