<div class="week" id="week">
  <button class="wday" type="button" role="tab">Mon</button>
  <button class="wday" type="button" role="tab">Tue</button>
  <button class="wday" type="button" role="tab">Wed</button>
  <button class="wday" type="button" role="tab">Thu</button>
  <button class="wday" type="button" role="tab">Fri</button>
</div>