<div class="week" id="week">
  <% 5.times do |n|%>
    <% date = Date.today.beginning_of_week + n.days %>
      <button class="wday" type="button" value="<%= date %>" onclick='location.href="<%= new_task_record_url %>?date=<%= date %>"'><%= date.strftime("%a") %></button>
  <% end %>
</div>