<%= form_with url: "/task_records", method: :post, id: "new-form" do |f| %>
  <%= f.select(:user, @users) %>
  <ul class="task-list">
    <% @tasks.each do |task| %>
      <li>
        <button class="task-button" type="submit", name="task", value="<%= task[1] %>"><%= task[0] %></button>
      </li>
    <% end %>
  </ul>
<% end %>