:root {
  --green: rgb(22, 163, 0);
  --red: rgb(202, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

nav.navbar {
  background-color: var(--red);
  color: white;
  padding: 1rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar > * {
  cursor: pointer;
}

nav.navbar a {
  color: white;
  text-decoration: none;
}

.notice {
  background-color: var(--green);
  color: rgb(228, 228, 228);
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 0.2rem;
}

.alert {
  background-color: rgb(220, 193, 18);
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 0.2rem;
}

.alert, .notice {
  display: flex;
}

.notice span, .alert span {
  margin-left: auto;
}

.container {
  max-width: 50rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#new-form {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(7, 1fr);
}

#new-form #user {
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
}

.task-list {
  grid-column: -1;
  grid-row: 1 / -1;
}

.task-list li {
  list-style: none;
}

.task-button {
  width: fit-content;
  border: none;
  padding: 1rem 2rem;
  width:  100%;

  display: flex;
  align-items: center;
}

.avatar {
  height: 4rem;
  width: 4rem;
  padding: 0.4rem;

  margin-right: 1rem;
}

.small-avatar {
  height: 3rem;
  width: 3rem;
  padding: 0.4rem;
}

.hidden {
  background-color: transparent;
}

.done {
  border-top: 3px solid var(--green);
}

.not-done {
  border-top: 3px solid var(--red);
}

#new-form .confirm-btn {
  grid-column: -1;
  grid-row: -1;
}

select, .confirm-btn, .task-button {
  font-size: 2rem;
}

select {
  padding: 1rem;
  border: 3px solid rgb(206, 0, 0);
  background-color: rgb(228, 228, 228);
  border-radius: 1rem;
}

table {
  background-color: transparent;
}

td {
  padding: 1rem;
  background-color: white;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.1);
}

td button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

td button:hover {
  cursor: pointer;
}

.record-card {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.record-card a {
  color: var(--red);
}

.record-card .done-at {
  grid-column: 1;
  grid-row: 1;
}

.record-card .task-name {
  grid-column: 1;
  grid-row: 2;

  font-weight: 600;
  font-size: 2rem;
}

.record-card .points {
  grid-column: -1;
  grid-row: 2;

  font-weight: 300;
  font-size: 1.8rem;
}

.record-card .username {
  grid-column: 1;
  grid-row: 3;

  font-weight: 700;
  font-size: 1.2rem;

  margin-top: 1rem;
}

.record-card .actions {
  grid-column: 1;
  grid-row: 4;

  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
}

.user-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) auto repeat(1, 1fr);
}

.user-card a {
  color: var(--red);
}

.user-card .username {
  grid-column: 1;
  grid-row: 1;

  margin-bottom: 1rem;
}

.user-card .avatar {
  grid-column: -1;
  grid-row: 1;
}

.user-card .total-points {
  grid-column: 1;
  grid-row: 2;

  font-weight: 200;
  font-size: 1.4rem;
}

.user-card .score-place {
  grid-column: -1;
  grid-row: 2;

  font-weight: 200;
  font-size: 1.4rem;
}

.user-card .total-tasks {
  grid-column: 1;
  grid-row: 3;
}

.user-card #chart-1 {
  grid-column: 1 / -1;
  grid-row: 4;
}
